* {
  margin: 0;
  font-family: "Arimo", sans-serif;
}

/*NAVBAR*/
.navbar {
  background-color: #fe8b17;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
}

.logo {
  color: #fefefe;
}

.navList {
  display: flex;
  flex-direction: row;
}

.navText {
  list-style-type: none;
  margin: 0 1.25rem;
  font-weight: 500;
  padding: 20px 0;
  border-bottom: #fe8b17 2px solid;
  cursor: pointer;
}

.navText:hover {
  border-bottom: 2px solid white;

  transition: ease-in 0.25s;
}

.navLink {
  text-decoration: none;
  color: #fefefe;
}

/*INTRO*/
.intro {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3.125rem;
  background-color: black;
}
.introHeading {
  width: 50%;
  font-size: 3.75rem;
  margin-top: 150px;
  color: #fefefe;
}

.introMap {
  width: 50%;
}

.map {
  display: block;
  margin: 1.25rem auto;
}

.mapSelection {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-radius: 0.5rem;
}

.mapDropdown {
  /* w-1/2 p-2 bg-slate-100 text-cente*/
  width: 50%;
  background-color: #d4d3d3;
  border-color: #bab8ba;
  border-radius: 0.5rem;
  text-align: center;
}

.dropdownText {
  background-color: #fe8b17;
  border-color: black;
  cursor: pointer;
  margin: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.dropdownText:hover {
  border: 1px solid #fe8b17;
  background-color: #fefefe;
  transition: ease-in 0.25s;
}

.map-dropdownBtn {
  border: 1px solid black;
  background-color: #fe8b17;
  padding: 0.625rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.map-dropdownBtn:hover {
  border: 1px solid #fe8b17;
  background-color: #fefefe;
  transition: ease-in 0.25s;
}

.mapSearch {
  width: 1.5625rem;
}

/*SECTION 2*/
.section2 {
  height: 100dvh;
  padding: 3.125rem;
}

.section2-Content {
  display: flex;
  flex-direction: row;
}

.section2-Img {
  width: 35%;
  display: block;
}

.section2-Points {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
  margin: 1.25rem auto 3.75rem;
}

.icon-flex-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.icon-text {
  font-weight: 600;
  margin-top: 1.25rem;
}

/*SECTION 3*/
.section3 {
  height: auto;
  padding: 3.125rem;
  background-color: #ecebeb;
}

.sectionHeading {
  font-size: 2.1875rem;
}

.section3-Btn {
  background-color: #fe8b17;
  color: #fefefe;
  border-radius: 0.375rem;
  border: 0;
  padding: 0.625rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.section3-Btn:hover {
  transform: scale(1.1);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 50px;
}

.card {
  width: 20rem;
  margin: 0 auto;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 25px;
  background-color: #e9e8e8;
  cursor: pointer;
  transition: ease-out 0.3s;
}

.card:hover {
  box-shadow: 5px 10px 20px gray;
  transform: scale(1.03);
}

.cardImg {
  width: 100%;
}

.cardDetails {
  padding: 1.25rem;
}

.cardHeading {
  margin-bottom: 0.625rem;
}

.cardText {
  font-size: small;
  color: grey;
  margin-bottom: 0.625rem;
}

.cardPrice {
  color: #fe8b17;
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid grey;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.25rem 1.25rem;
}

.cardBottom-Group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cardBottom-Number {
  text-align: center;
}

.prev-nxt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18.125rem;
  margin: 2.5rem auto;
  border-radius: 0.5rem;
  border: 1px solid #bab8ba;
  color: black;
  font-weight: 600;
  background-color: #e9e9e9;
  transition: ease-out 0.3s;
}

.prev-nxt:hover {
  transform: scale(1.1);
}

.prevNxtBtn {
  transition: ease-out 0.1s;
}

.prevNxtBtn:hover {
  color: #fff;
  background-color: #fe8b17;
}

.numSelect {
  padding: 1.25rem;
  cursor: pointer;
}

.first {
  cursor: pointer;
  padding: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.next {
  cursor: pointer;
  padding: 1.25rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*SECTION 4*/
.section4 {
  height: 100dvh;
  padding: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section3-ImgSection {
  width: 50%;
}

.imgGrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.section3Img {
  height: 20%;
  width: 200px;
}

.flexibilityText {
  color: gray;
  margin-bottom: 1.25rem;
}

.section3Heading {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 1.25rem;
}

.section3Text {
  width: 40%;
  margin: 0 auto;
}
