* {
  margin: 0;
  font-family: "Arimo", sans-serif;
  scroll-behavior: smooth;
}

select {
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*NAVBAR*/
.navbar {
  background-color: #fe8b17;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
}

.logoHamburger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: #fefefe;
}

.hamburger {
  display: none;
}

.navList {
  display: flex;
  flex-direction: row;
}

.navText {
  list-style-type: none;
  font-weight: 500;
  border-bottom: #fe8b17 2px solid;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.navText:hover {
  border-bottom: 2px solid white;
}

.navLink,
.navText {
  padding: 20px 0;
  margin: 0 1rem;
}

.navLink {
  text-decoration: none;
  color: #fefefe;
}

/*INTRO*/
.intro {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3.125rem;
  background-color: black;
}
.introHeading {
  width: 50%;
  font-size: 3.75rem;
  margin-top: 150px;
  color: #fefefe;
}

.introMap {
  width: 50%;
}

.map {
  display: block;
  margin: 1.25rem auto;
}

.mapSelection {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-radius: 0.5rem;
}

.mapDropdown {
  /* w-1/2 p-2 bg-slate-100 text-cente*/
  width: 50%;
  background-color: #d4d3d3;
  border-color: #bab8ba;
  border-radius: 0.5rem;
  text-align: center;
}

.dropdownText {
  background-color: #fe8b17;
  border-color: black;
  cursor: pointer;
  margin: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
  transition: ease-in-out 0.25s;
}

.dropdownText:hover {
  border: 1px solid #fe8b17;
  background-color: #fefefe;
}

.map-dropdownBtn {
  border: 1px solid black;
  background-color: #fe8b17;
  padding: 0.625rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.map-dropdownBtn:hover {
  border: 1px solid #fe8b17;
  background-color: #fefefe;
}

.mapSearch {
  width: 1.5625rem;
}

/*SECTION 2*/
.section2 {
  height: 100dvh;
  padding: 3.125rem;
}

.section2-Content {
  display: flex;
  flex-direction: row;
}

.section2-Img {
  width: 35%;
  display: block;
}

.section2-Points {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
  margin: 1.25rem auto 3.75rem;
}

.icon-flex-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.icon-text {
  font-weight: 600;
  margin-top: 1.25rem;
  text-transform: capitalize;
}

/*SECTION 3*/
.section3 {
  height: auto;
  padding: 3.125rem;
  background-color: #fefefe;
}

.sectionHeading {
  font-size: 2.1875rem;
}

.smallHeading {
  margin-bottom: 2.5rem;
  text-align: center;
}

.addPropHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.section3-Btn {
  background-color: #fe8b17;
  color: #fefefe;
  border-radius: 0.375rem;
  border: 0;
  padding: 0.625rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.section3-Btn:hover {
  transform: scale(1.1);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 50px;
  border-radius: 25px;

  padding: 40px 10px;
}

.card {
  width: 20rem;
  margin: 0 auto;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 25px;
  background-color: #e9e8e8;
  cursor: pointer;
  transition: ease-out 0.3s;
}

.card:hover {
  box-shadow: 5px 5px 20px rgb(184, 183, 183);
  transform: scale(1.03);
}

.cardImg {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.cardDetails {
  padding: 1.25rem;
}

.cardHeading {
  margin-bottom: 0.625rem;
}

.cardText {
  font-size: small;
  color: grey;
  margin-bottom: 0.625rem;
}

.cardPrice {
  color: #fe8b17;
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid grey;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.25rem 1.25rem;
}

.cardBottom-Group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cardBottom-Number {
  text-align: center;
}

.prev-nxt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18.125rem;
  margin: 2.5rem auto;
  border-radius: 0.5rem;
  color: black;
  font-weight: 600;
  background-color: #e9e9e9;
  transition: ease-out 0.3s;
}

.prev-nxt:hover {
  transform: scale(1.1);
}

.prevNxtBtn {
  transition: ease-out 0.1s;
}

.prevNxtBtn:hover {
  color: #fff;
  background-color: #fe8b17;
}

.numSelect {
  padding: 1.25rem;
  cursor: pointer;
}

.first {
  cursor: pointer;
  padding: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.next {
  cursor: pointer;
  padding: 1.25rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*SECTION 4*/
.section4 {
  height: 100dvh;
  padding: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section3-ImgSection {
  width: 50%;
}

.imgGrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.section3Img {
  height: 20%;
  width: 12.5rem;
  transition: ease-in-out 0.3s;
}

.section3Img:hover {
  transform: scale(1.1);
}

.flexibilityText {
  color: gray;
  margin-bottom: 1.25rem;
}

.section3Heading {
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.section3Text {
  width: 40%;
  margin: 0 auto;
}

.section4-Btn {
  background-color: #fe8b17;
  color: #fefefe;
  border-radius: 0.375rem;
  border: 0;
  padding: 0.625rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.section4-Btn:hover {
  transform: scale(1.1);
}

/*ADD PROPERTY SECTION*/
.addProperty {
  height: auto;
  padding: 3.125rem;
}

.addPropHeading {
  text-align: center;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

.formSection {
  padding: 3.125rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 5px 10px 20px grey;
}

.formHeading {
  font-size: 2.1875rem;
  color: #fe8b17;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.propertyForm {
}

.formGrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.inputGrp {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.inputLabel {
  font-weight: 600;
}

.s {
  color: red;
}

.inputField {
  padding: 0.625rem;
  box-sizing: border-box;
  width: 15.625rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  font-weight: 600;
}

.description {
  border-radius: 0.5rem;
}

.btnProperty {
  padding: 1.25rem;
  width: 30%;
  margin: 0 auto;
  display: block;
  background-color: #fe8b17;
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.btnProperty:hover {
  transform: scale(1.1);
}

/*REVIEWS*/
.reviewSection {
  height: auto;
  padding: 3.125rem;
}

.reviewsGroup {
  display: flex;
  flex-direction: row;
  gap: 9.375rem;
  overflow-x: scroll;
  width: 70%;
  margin: 2.5rem auto 0;
  padding: 1.25rem;
}

.review {
  width: 90%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #f0efef;

  padding: 1.875rem;
  border-radius: 1.25rem;
}

.reviewContainer {
  position: relative;
}

.quote {
  position: absolute;
  opacity: 40%;
}

.reviewText {
  padding: 1.875rem 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.profileName {
  color: #fe8b17;
  font-weight: bold;
  margin-bottom: 5px;
}

.status {
  font-size: small;
  font-weight: bold;
}

.slider {
  width: 7.5rem;
  margin: 40px auto 0;
  padding: 0.625rem;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: ease-in-out 0.2s;
}

.slider:hover {
  transform: scale(1.2);
}

.dot {
  height: 1.1rem;
  width: 1.1rem;
  background-color: #bab8ba;
  border-radius: 100%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.dot:hover {
  background-color: #fe8b17;
}

/*FOOTER*/
footer {
  background-color: black;
  color: #fff;
  padding: 1.25rem 3.125rem;
}
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #fff;
}

.footerIcon {
  height: 20px;
}

.contactInfo {
  width: 50%;
}

.footerText {
  margin: 20px 0;
  font-weight: bold;
  font-size: 0.875rem;
}

.socialInfo {
  width: 50%;
}

.socialRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 20px 0;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
}

.bottomText-Grp {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomText {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.bottomText:hover {
  color: #fe8b17;
}

.copyright {
  width: 50%;
  text-align: center;
}

/*RESPONSIVE DESIGN -- TABLET*/
@media only screen and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  .sectionHeading {
    text-align: center;
  }

  /**/

  .intro {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
  }

  .introHeading {
    width: 90%;
    margin-top: 100px;
    text-align: center;
    font-size: 5rem;
  }

  /*SECTION 2*/

  .section2-Content {
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
  }

  .section2-Points {
    width: 90%;
    flex-direction: column;
    margin-top: 40px;
    gap: 5rem;
  }

  .icon-flex-group {
    flex-direction: row;
    justify-content: space-between;
  }

  .icon-container {
    width: 100%;
  }

  .icon {
    margin: 0 auto;
    display: block;
    height: 5rem;
  }

  .icon-text {
    text-align: center;
    font-size: 1.875rem;
  }

  /*SECTION 3*/
  .cardContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /*SECTION 4*/
  .section4 {
    padding: 5rem 3.125rem;
    height: 100%;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .section3Heading {
    text-align: center;
  }

  .section3Text {
    width: 80%;
  }

  .flexibilityText {
    text-align: center;
  }

  .section4-Btn {
    margin: 0 auto;
    display: block;
  }

  /*ADD PROPERTIES*/
  .addPropHeading {
    font-size: 1.875rem;
  }

  /*REVIEWS*/
  .reviewsGroup {
    width: 90%;
  }
}

/*RESPONSIVE DESIGN -- PHONE*/
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
  }

  .navList {
    flex-direction: column;
    text-align: center;
    height: 0;
    overflow-y: hidden;
  }

  .logoHamburger {
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    font-size: 16px;
  }

  .hamburger {
    display: block;
  }

  /*INTRO*/
  .intro {
    height: 100%;
    padding: 0 10px 50px;
  }

  .introHeading {
    font-size: 2.5rem;
    margin-top: 50px;
  }

  .introMap {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .map {
    width: 100%;
  }

  .mapDropdown {
    color: black;
  }
  .mapSelection {
    width: 100%;
  }

  /*SECTION 2*/
  .section2 {
    height: 50%;
    padding: 50px 10px;
  }

  .section2-Img {
    width: 90%;
    display: block;
  }

  .icon {
    height: 2.5rem;
  }

  .icon-text {
    font-size: 1.25rem;
  }

  /*LIST OF PROP*/
  .section3 {
    padding: 10px;
  }

  .addPropHeading {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  .section3-Btn {
    width: 60%;
    margin: 0 auto;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .card {
    width: 20rem;
    border: 2px solid #bab8ba;
  }

  .cardImg {
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .cardHeading {
    font-size: 1.5rem;
  }

  .cardPrice {
    font-size: 1.25rem;
  }

  .cardBottom-Group {
    align-items: center;
  }

  .cardBottom-Icon {
    height: 10px;
  }

  .cardBottom-Number {
    font-size: 0.875rem;
  }

  .prev-nxt {
    margin: 20px auto;
  }

  /*SECTION 4*/
  .section4 {
    padding: 20px;
  }

  .section3Heading {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .section3Text {
    width: 100%;
  }

  .section3-ImgSection {
    width: 100%;
  }

  .imgGrp {
    gap: 16px;
  }

  .section3Img {
    width: 43%;
  }

  .section4-Btn {
    margin: 40px auto;
    padding: 20px;
    font-size: medium;
  }

  /*ADD PROP SECTION*/
  .addProperty {
    padding: 100px 10px;
  }

  .formSection {
    padding: 14px;
  }

  .formHeading {
    font-size: 1.5rem;
  }

  .formGrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
  }

  .inputGrp {
    margin-bottom: 10px;
  }

  #state {
    -webkit-appearance: none; /* Remove default iOS styling */
    -moz-appearance: none; /* Remove default Firefox styling */
    appearance: none; /* Remove default styling on other browsers */
  }

  .btnProperty {
    width: 50%;
  }

  /*REVIEW SECTION*/
  .reviewSection {
    padding: 5px;
  }

  .reviewsGroup {
    padding: 5px;
    width: 100%;
  }

  .review {
    width: 100%;
    padding: 20px;
  }

  .reviewText {
    margin-bottom: 0;
  }

  /*FOOTER*/
  #footer {
    padding: 30px 10px 10px;
  }

  .footerLinks {
    flex-direction: column;
  }

  .contactInfo {
    width: 100%;
  }

  .socialInfo {
    width: 100%;
  }

  .footerBottom {
    flex-direction: column;
  }

  .bottomText-Grp {
    width: 100%;
  }

  .bottomText {
    font-size: 0.625rem;
  }
  .copyright {
    text-align: center;
    width: 100%;
    font-size: 0.625rem;
    margin-top: 20px;
  }
}
